@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.appcss{
    display: flex;
    flex-direction: row;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

